<% if (theme.valine.enable){ %>
    <div id="vcomments" class="valine"></div>
    <%- js('//cdn1.lncld.net/static/js/3.0.4/av-min.js','assets/valine.min.js') %>

    <script>
        // new Valine({
        //     av: AV,
        //     el: '#vcomments',
        //     appId: '<%= theme.valine.appId %>',
        //     appKey: '<%= theme.valine.appKey %>',
        //     placeholder: '<%= theme.valine.placeholder %>',
        //     notify: <%= theme.valine.notify %>,
        //     verify: <%= theme.valine.verify %>,
        //     avatar: '<%= theme.valine.avatar %>',
        //     meta: '<%= theme.valine.meta %>'.split(','),
        //     pageSize: '<%= theme.valine.pageSize %>',
        //     path: window.location.pathname,
        //     lang: '<%= config.language %>'.toLowerCase()
        // })

        new Valine({
          // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
          av: AV,
          el: '#vcomments', //
          app_id: 'sLXJLlU1IkX9EAXR1mw7o7UU-gzGzoHsz', // 这里填写上面得到的APP ID
          app_key: 'iiz82gKScRxXnAUhzSl152xw', // 这里填写上面得到的APP KEY
          placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!' // [v1.0.7 new]留言框占位提示文字
        });

    </script>
<% } %>
